html,
body {
    height: 100%;
    background: gainsboro url("/images/background.jpg");
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding-top: 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: auto;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.wrap > .container > div:last-child {
    margin-top: 10px;
}

.image-index {
    text-align: center;
}

.image {
    padding-top: 16px;
}

.image img, .image object {
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.6);
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.6);
}

.footer {
    background-color: transparent;
    border: none;
}

[data-id=main] {
    text-align: center;
}

.devil-center {
    text-align: center;
}

@media (min-width: 1024px) {
    .devil-left {
        position: absolute;
        top: 42px;
        left: 8px;
    }

    .devil-right {
        position: absolute;
        top: 42px;
        right: 8px;
    }
}

@media (min-width: 768px) {
    .navbar {
        height: 50px;
    }
}
